[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/diff-triangle2-rasterization"]
	path = submodules/diff-triangle2-rasterization
	url = https://github.com/trianglesplatting2/diff-triangle2-rasterization
